html
    head
        title Electron
        link(rel="stylesheet" href="css/app.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        h1 Electron
script(src="app/js/functions.js")
script(src="http://localhost:35729/livereload.js")
